@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400&display=swap");
body {
  background-color: white;
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
  color: black;
  margin-top: 110px;
}

body > header {
  background-color: #85cfe7;
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
}

body > header > div.container > div.row > div > img {
  width: 100%;
  max-width: 155px;
  margin: 10px auto;
}

body > header > div.container > div.row > div > nav.menu {
  width: 100%;
}

body > header > div.container > div.row > div > nav.menu > ul {
  width: 100%;
  margin: 0;
  padding: 40px;
  list-style: none;
  text-align: right;
}

body > header > div.container > div.row > div > nav.menu > ul > li {
  display: inline-block;
  margin-left: 30px;
}

body > header > div.container > div.row > div > nav.menu > ul > li > a {
  font-weight: 400;
  color: black;
}

body > header > div.container > div.row > div > nav.menu > ul > li > a:hover {
  color: #063a9c;
  text-decoration: none;
}

body > main > div.carousel > div.carousel-inner > div.carousel-item > .img {
  display: block;
  width: 100%;
}

body > section {
  padding: 10px 0 10px 0;
  background-color: #85cfe7;
}

body > section.part1 {
  width: 100%;
  background-color: white;
}

body > section.part2 {
  width: 100%;
  background-color: white;
}

body > section.part3 {
  width: 100%;
  background-color: white;
}

body > section.localizacao {
  width: 100%;
  margin: 0;
}

body > section.promo {
  width: 100%;
  margin: 0;
  background-color: #7ab4c7;
}

body > footer {
  background-color: #999;
}

body > footer > div.container > div.row > div.rodapeesquerdo > nav.nmenu > ul {
  width: 100%;
  margin: 0;
  padding: 15px 0;
  list-style: none;
  text-align: left;
}

body > footer > div.container > div.row > div.rodapeesquerdo > nav.nmenu > ul > li > a {
  font-weight: 400;
  color: black;
}

body > footer > div.container > div.row > div.rodapeesquerdo > nav.nmenu > ul > li > a:hover {
  text-decoration: none;
  color: #ff0000;
}

body > footer > div.container > div.row > div.rodapecentro > p {
  width: 100%;
  margin: 0;
  padding: 15px 0;
}

body > footer > div.container > div.row > div.rodapedireito > nav.smenu > ul {
  width: 100%;
  margin: 0;
  padding: 15px 0;
  list-style: none;
  text-align: left;
}

body > footer > div.container > div.row > div.rodapedireito > nav.smenu > ul > li {
  margin-bottom: 15px;
}

body > footer > div.container > div.row > div.rodapedireito > nav.smenu > ul > li > i.fab {
  font-size: 25px;
  padding: 2px;
  color: #c9cdd3;
}

body > footer > div.container > div.row > div.rodapedireito > nav.smenu > ul > li > a {
  font-weight: 400;
  color: #0d0336;
}

body > footer > div.container > div.row > div.rodapedireito > nav.smenu > ul > li > a:hover {
  color: #ff0000;
  text-decoration: none;
}

body > footer > div.copyright {
  background-color: #494949;
}

body > footer > div.copyright > div.container > div.row {
  width: 100%;
}

body > footer > div.copyright > div.container > div.row > div.copy > p {
  font-weight: 300;
  font-size: 15px;
  color: black;
}
/*# sourceMappingURL=index.css.map */